#title{
    background-color: #ff4c68;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}

.container-fluid{
    padding: 3% 15% 10%
}

#resize{
    width: 20%;
    margin: 5% 5% 5% 0
}
body{
    font-family: 'Montserrat';
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px
}
.nav-link{
    font-size: 1.2rem;
}

.titleImage{
    width: 30%;
    transform: rotate(30deg);
    position: absolute;
    right: 10%;
  
}

.header{
    position: relative;
    height: 10%;
}

.spacer{
    width: 50%;
  
    
}
.feature-box{
    font-family: 'Montserrat';
    font-weight: bolder;
    text-align: center;
    padding: 5%

}
.feature-box p {
    color: #8f8f8f;
    font-size: 0.9rem;
}

/* Features */
#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
    
}

#pricing{
    padding: 10% 15%;
    text-align: center;
    
}
.im{
    margin: 5px;
}
.im:hover{
    color: green;
}

#testimonials{
   
    text-align: center;
    background-color: #ef8172;
    color: white;

}
h2{
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    padding: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;

}

.press-image{
    width: 15%;
    margin-right: 20px;
    margin-left: 20px;
}
.carousel-item{
    padding: 10% 15%;

}

.btn-width{
    width: 100%;
}